<!--考试列表-->
<div class="row" ng-hide="stuParams.startKaoShiState">
  <table class="table table-bordered">
    <tr>
      <th>开始时间</th>
      <th>考试名称</th>
      <!--<th>时长(分)</th>-->
      <th>操作</th>
    </tr>
    <tr ng-repeat="ks in kaoShiList" ng-show="ks.thisKaoShow">
      <td ng-bind="ks.KAISHISHIJIAN | myLocalDateWithWeek"></td>
      <td ng-bind="ks.KAOSHI_MINGCHENG"></td>
      <!--<td ng-bind="ks.SHICHANG"></td>-->
      <td>
        <a href="javascript:void(0)" ng-click="startKaoShi(ks)" ng-hide="ifClickStartExam">开始考试</a>
      </td>
    </tr>
  </table>
</div>
<div class="loading-box text-center" ng-show="loadingImgShow">
  <img src="/images/loading.gif" alt="" width="64" height="64"/>
  <p>数据加载中，请耐心等待……</p>
</div>
<!--具体的题目-->
<div class="row" ng-show="stuParams.startKaoShiState">
  <!--题目容器-->
  <div class="answerReappearWrap">
    <h2 class="text-center">
      <span ng-bind="stuParams.kaoShiName"></span>
    </h2>
    <div id="answerReappearShiJuan">
      <div ng-repeat="tm in tiMuDetail">
        <h4 style="font-weight: bold">
          <!--<span ng-bind="stuParams.cnNumArr[$index] + '、'"></span>-->
          <span ng-bind="tm.daTi"></span>
        </h4>
        <ul class="list-unstyled">
          <li class="ptb5" ng-repeat="xtm in tm.tiMu">
            <h4 class="ar-tiGan itemHasImg">
              <span ng-bind-html="xtm.TIMU_XUHAO + '、' + xtm.TIGAN.tiGan"></span>
            </h4>
            <!-- 单选题 -->
            <div class="ar-tzs" ng-if="xtm.TIXING_ID == 1">
              <div class="ar-tz" ng-repeat="tznr in xtm.TIGAN.tiZhiNeiRong track by $index">
                <label class="labelStu">
                  <p class="positionAb">
                    <input type="radio" name="{{'radio' + $parent.$index}}" value="{{$index}}" ng-model="xtm.ksKsDa"
                      ng-click="kaoShiDaTi(xtm, $index, xtm.ksKsDa)"/> {{'(' + stuParams.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr"></p>
                </label>
              </div>
            </div>
            <!-- 双选选题和多选 -->
            <div class="ar-tzs" ng-if="xtm.TIXING_ID == 2 || xtm.TIXING_ID == 3">
              <div class="ar-tz" ng-repeat="tznr in xtm.TIGAN.tiZhiNeiRong track by $index">
                <label class="labelStu">
                  <p class="positionAb">
                    <input type="checkbox" name="{{'checkbox' + $parent.$index}}" ng-model="ksKsDa.$index"
                           ng-click="kaoShiDaTi(xtm, $index, ksKsDa.$index)"
                           ng-checked="xtm.ksKsDa.indexOf($index) > -1"/> {{'(' + stuParams.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr"></p>
                </label>
              </div>
            </div>
            <!-- 判断题 -->
            <div class="ar-tzs" ng-if="xtm.TIXING_ID == 4">
              <label class="labelStu">
                <span>
                  <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="1" ng-model="xtm.ksKsDa"
                         ng-click="kaoShiDaTi(xtm, 1, xtm.ksKsDa)"/>  对
                </span>
              </label>
              <label class="labelStu">
                <span>
                  <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="0" style="margin: 0 0 0 20px"
                         ng-model="xtm.ksKsDa" ng-click="kaoShiDaTi(xtm, 0, xtm.ksKsDa)"/>  错
                </span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--分页-->
  <div class="paging text-right" ng-if="tiMuPage.length>0">
    <ul class="pagination pagination-sm">
      <li ng-class="{disabled: currentTmPageVal == 1}">
        <a href="javascript:scroll(0,0)" ng-click="getTiMuDetail(1)">首页</a>
      </li>
      <li ng-class="{disabled: currentTmPageVal == 1}">
        <a href="javascript:scroll(0,0)" ng-click="getTiMuDetail(prevPg = currentTmPageVal > 1 ? currentTmPageVal - 1 : 1)">
          上一页
        </a>
      </li>
      <li ng-repeat="pg in tiMuDistPage" ng-class="{active: currentTmPageVal == pg}">
        <a href="javascript:scroll(0,0)" ng-click="getTiMuDetail(pg)">{{pg}}</a>
      </li>
      <li ng-class="{disabled: currentTmPageVal == lastTmPageNum}">
        <a href="javascript:scroll(0,0)"
           ng-click="getTiMuDetail(nextPg = currentTmPageVal < lastTmPageNum ? currentTmPageVal + 1 : lastTmPageNum)">
          下一页
        </a>
      </li>
      <li ng-class="{disabled: currentTmPageVal == lastTmPageNum}">
        <a href="javascript:scroll(0,0)" ng-click="getTiMuDetail(lastTmPageNum)">尾页</a>
      </li>
    </ul>
  </div>
</div>
<!--最后得分-->
<div class="popup-wrap" ng-show="stuParams.tuiChuKaoShi">
  <div class="popup-wrap-inner no-header">
    <div class="pwi-body plr10">
      <div class="form-horizontal">
        <div class="form-group">
          <p class="kaoShiDeFen text-center">
            最后得分：<span class="clRed">{{stuParams.kaoShiDeFen.toFixed()}}</span> 分
          </p>
        </div>
      </div>
    </div>
    <div class="pwi-footer plr10 text-center">
      <button type="button" class="btn btn-primary mt5" ng-click="kaoShiJieShuConfirm()">确定</button>
    </div>
  </div>
</div>
