<div class="row col-md-6">
  <div class="col-md-12">
    <select class="form-control">
      <option value="1">机电</option>
      <option value="2">热力</option>
      <option value="3">运维</option>
      <option value="4">控制</option>
    </select>
  </div>
  <div class="col-md-12 mt10">
    <label class="checkbox-inline">
      <input type="checkbox" value=""> 单选
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> 多选
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> 判断
    </label>
  </div>
  <div class="col-md-12 mt10">
    <label class="radio-inline">
      <input type="radio" name="itemNum" value=""> 100题
    </label>
    <label class="radio-inline">
      <input type="radio" name="itemNum" value=""> 200题
    </label>
    <label class="radio-inline">
      <input type="radio" name="itemNum" value=""> 所有试题
    </label>
  </div>
  <div class="col-md-12 mt10">
    <label class="radio-inline">
      <input type="radio" name="practiceTime" value=""> 60分钟
    </label>
    <label class="radio-inline">
      <input type="radio" name="practiceTime" value=""> 120分钟
    </label>
    <label class="radio-inline">
      <input type="radio" name="practiceTime" value=""> 不限时
    </label>
  </div>
  <div class="col-md-12 mt10">
    <button type="button" class="btn btn-primary pull-right">确定</button>
  </div>
</div>
