<div class="row col-md-6">
  <div class="col-md-12">
    <select class="form-control" ng-model="stuParams.zsdId"
            ng-options="zsd.ZHISHIDIAN_ID as zsd.ZHISHIDIANMINGCHENG for zsd in kowledgeList">
      <option value="">请选择知识点</option>
    </select>
  </div>
  <div class="col-md-12 mt10">
    <label class="radio-inline">
      <input type="radio" name="itemNum" value="100" ng-model="stuParams.lxItemNum"> 100题
    </label>
    <label class="radio-inline">
      <input type="radio" name="itemNum" value="200" ng-model="stuParams.lxItemNum"> 200题
    </label>
    <label class="radio-inline">
      <input type="radio" name="itemNum" value="99999" ng-model="stuParams.lxItemNum"> 所有试题
    </label>
  </div>
  <div class="col-md-12 mt10">
    <label class="radio-inline">
      <input type="radio" name="practiceTime" value="60" ng-model="stuParams.lxTime"> 60分钟
    </label>
    <label class="radio-inline">
      <input type="radio" name="practiceTime" value="120" ng-model="stuParams.lxTime"> 120分钟
    </label>
    <label class="radio-inline">
      <input type="radio" name="practiceTime" value="999999" ng-model="stuParams.lxTime"> 不限时
    </label>
  </div>
  <div class="col-md-12 mt10">
    <button type="button" class="btn btn-primary pull-right" ng-click="lianXiChouTi()">确定</button>
  </div>
</div>
