<div class="row">
  <div class="col-md-12">
    <h4 class="bdb p10">考试成绩</h4>
    <table class="table table-bordered">
      <tr>
        <th>考试名称</th>
        <th>姓名</th>
        <th>日期</th>
        <th>成绩</th>
      </tr>
      <tr ng-repeat="ks in kssDistData">
        <td ng-bind="ks.KAOSHI_MINGCHENG"></td>
        <td ng-bind="session.userInfo.XINGMING"></td>
        <td ng-bind="ks.KAISHISHIJIAN | myLocalDate | date: 'yyyy-MM-dd HH:mm:ss'"></td>
        <td ng-bind="ks.ZUIHOU_PINGFEN.toFixed(0) + '分'"></td>
      </tr>
    </table>
    <div class="paging text-right" ng-if="kssPages.length>0">
      <ul class="pagination pagination-sm">
        <li ng-class="{disabled: currentKssPageVal == 1}">
          <a href ng-click="kssPgDist(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentKssPageVal == 1}">
          <a href
             ng-click="kssPgDist(prevPg = currentKssPageVal > 1 ? currentKssPageVal - 1 : 1)">
            上一页
          </a>
        </li>
        <li ng-repeat="pg in kssPages" ng-class="{active: currentKssPageVal == pg}">
          <a href ng-click="kssPgDist(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentKssPageVal == lastKssPageNum}">
          <a href
             ng-click="kssPgDist(nextPg = currentKssPageVal < lastKssPageNum ? currentKssPageVal + 1 : lastKssPageNum)">
            下一页
          </a>
        </li>
        <li ng-class="{disabled: currentKssPageVal == lastKssPageNum}">
          <a href ng-click="kssPgDist(lastKssPageNum)">尾页</a>
        </li>
      </ul>
    </div>
  </div>
</div>
