<div class="studentWrapper">
  <div class="sub-nav fixed-top">
    <ul class="nav nav-tabs">
      <li ng-class="{active: stuParams.stuTabActive == 'practice'}">
        <a href="javascript:void(0)" ng-click="stuTabSlide('practice')">练习</a>
      </li>
      <li ng-class="{active: stuParams.stuTabActive == 'exam'}">
        <a href="javascript:void(0)" ng-click="stuTabSlide('exam')">考试</a>
      </li>
      <li ng-class="{active: stuParams.stuTabActive == 'score'}">
        <a href="javascript:void(0)" ng-click="stuTabSlide('score')">成绩</a>
      </li>
      <li class="pull-right">
        <button type="button" class="btn btn-danger mt5 mr10" ng-show="stuParams.startKaoShiState" ng-click="endKaoShi()">结束考试</button>
        <button type="button" class="btn btn-danger mt5 mr10" ng-show="stuParams.startLianXiState" ng-click="endLianXi()">结束练习</button>
      </li>
      <li class="pull-right">
        <a href="javascript:void(0)">修改密码</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" ng-include="stuTpl">
  </div>
</div>
