<div class="loading-box text-center" ng-show="loadingImgShow">
  <img src="/images/loading.gif" alt="" width="64" height="64"/>
  <p>数据加载中，请耐心等待……</p>
</div>
<div class="guanLiWrapper">
  <div class="sub-nav fixed-top">
    <ul class="nav nav-tabs">
      <li ng-class="{active: guanliParams.tabActive == 'people'}">
        <a href="javascript:void(0)" ng-click="guanLiTabSlide('people')">人员管理</a>
      </li>
      <li ng-class="{active: guanliParams.tabActive == 'kexuhao'}">
        <a href="javascript:void(0)" ng-click="guanLiTabSlide('kexuhao')">课序号管理</a>
      </li>
      <li ng-class="{active: guanliParams.tabActive == 'bumen'}">
        <a href="javascript:void(0)" ng-click="guanLiTabSlide('bumen')">部门管理</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" ng-include="guanLiTpl">
  </div>
</div>
