<div class="row">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt="" width="64" height="64"/>
        <p>
            数据保存中……
        </p>
    </div>
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-header">
                <div class="form-group zsdNameBox">
                    <div class="col-sm-8 col-sm-offset-1">
                        知识点：【<span ng-bind="selectZhiShiDian"></span>】
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">题干</label>
                    <div class="col-sm-8">
                        <textarea class="form-control formulaEditTiGan" rows="5" ng-model="danXuanData.shuju.TIGAN"
                                  placeholder="请输入题干"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group tizhiWrap" ng-repeat="num in loopArr">
                    <label class="col-sm-1 control-label">{{letterArr[$index]}}.</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control tiZhi" placeholder="请输入选项">
                    </div>
                    <div class="col-sm-2">
                        <span class="glyphicon glyphicon-minus-sign delete-this-tiem" ng-click="deleteOneItem()"
                            ng-hide="loopArr.length < 3"></span>
                        <div class="radio {{'answer' + $index}}" ng-click="chooseDanxuanDaan($index)">
                            <input class="hidden" type="radio" name="rightAnswer" value="{{$index}}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group">
                    <a href="javascript:void(0)" id="add-one-item" title="增加一项" ng-click="addOneItem()"
                       class="col-sm-1 control-label text-right add-btn" ng-hide="loopArr.length > 25">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>
                <div class="form-group nandu-select">
                    <label class="col-sm-1 control-label">难度</label>
                    <div class="col-sm-5">
                        <div class="nandu-star-box" nan-du-star>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <input type="text" class="hide nandu-input" value="">
                        </div>
                    </div>
                    <div class="col-sm-3 text-right pt10" ng-init="showRemarkInput=false">
                      <a href="javascript:void(0)" ng-hide="showRemarkInput" ng-click="showRemarkInput=true">备注</a>
                      <a href="javascript:void(0)" ng-show="showRemarkInput" ng-click="showRemarkInput=false">关闭备注</a>
                    </div>
                </div>
                <div class="form-group" ng-show="showRemarkInput">
                  <label class="col-sm-1 control-label">备注</label>
                  <div class="col-sm-8 remark">
                    <textarea class="form-control" rows="5" ng-model="danXuanData.shuju.REMARK" placeholder="备注"></textarea>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-8 text-right">
                        <button type="button" class="btn btn-primary" ng-click="addDanxuanShiTi()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
