<div class="container" ng-controller="NavCtrl">
  <div>
    <img src="/images/logo100.png" style="width: 80px"/>
  </div>
  <div class="userInfo">
    <a href="javascript:void(0)" ng-bind="session.userInfo.XINGMING" ng-click="showUserInfo()"></a>
    <!--<a href="/logout">退出</a>-->
    <a href="/lingyu" ng-show="session.info.LINGYU > 1">修改默认科目</a>
  </div>
  <ul class="list-group nav-list">
    <li class="list-group-item" ng-repeat="ul in urlArrs" ng-class="navClass('{{ul.myUrl}}')">
      <a ng-href="{{'/' + ul.myUrl}}" class="dropdownToggle {{ul.myUrl}}" ng-click="reloadModule('/' + ul.myUrl)">
        <span class="nav-icon"></span> <span class="nav-name" ng-bind="ul.urlName"></span>
      </a>
    </li>
  </ul>
  <div class="dsfoldBox">
    <a href="javascript:void(0)" ng-click="signOut()">退出</a>
  </div>
  <!-- 显示个人信息的页面 -->
  <div class="popup-wrap popup-wrap-350" ng-show="userInfoLayer">
    <div class="popup-wrap-inner no-footer">
      <div class="pwi-header plr10">
        <button type="button" class="btn btn-danger pull-right mt5" ng-click="closeUserInfoLayer()">关闭</button>
      </div>
      <div class="pwi-body plr10">
        <div class="col-md-12">
          <div class="clearfix mt15">
            <div class="col-md-2 text-right">
              <span class="mt5 dpb">部门</span>
            </div>
            <div class="col-md-8">
              <select class="form-control" ng-model="navData.selected_bm"
                      ng-change="getBanZuByBm(navData.selected_bm)"
                      ng-options="bm.JIGOU_ID as bm.JIGOUMINGCHENG for bm in originBuMenData.CHILDREN">
                <option value="">请选择部门</option>
              </select>
            </div>
          </div>
          <div class="clearfix mt15">
            <div class="col-md-2 text-right">
              <span class="mt5 dpb">班组</span>
            </div>
            <div class="col-md-8">
              <select class="form-control" ng-model="navData.selected_bz"
                      ng-options="bm.JIGOU_ID as bm.JIGOUMINGCHENG for bm in banZuData">
                <option value="">请选择班组</option>
              </select>
            </div>
          </div>
          <div class="clearfix mt15 text-right">
            <div class="col-md-8 col-md-offset-2 text-right">
              <button type="button" class="btn btn-primary" ng-click="saveStudentJg()">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
