<div class="innerWrap dagangWrapper">
  <div class="subDashboard">
    <div class="plr10">
      <h2 class="sdb-title">科目名称</h2>
      <p ng-bind="session.defaultLyName" class="sdb-cont cYell"></p>
    </div>
    <div class="plr10">
      <h2 class="sdb-title">题库默认大纲</h2>
      <p ng-bind="defaultDaGang ? defaultDaGang : ''" class="sdb-cont-dg cYell"></p>
    </div>
  </div>
  <div class="content">
    <div class="save-box">
      <button class="btn btn-primary" ng-click="saveZjDaGangData()" ng-show="isPrivateDg"
              ng-disabled="prDgBtnDisabled">
        保存大纲
      </button>
    </div>
    <div class="row dagangInput" ng-init="dgTpl = 'views/dagang/daGangPrivate.html'">
      <div ng-include="dgTpl">
      </div>
    </div>
  </div>
</div>
