<div class="dg-list-box">
    <select class="form-control daGangListSelect" ng-model="daGangParam.selected_dg"
            ng-change="getPrivateDgZsd(daGangParam.selected_dg)"
            ng-options="dg.ZHISHIDAGANG_ID as dg.ZHISHIDAGANGMINGCHENG for dg in privateZsdgList">
        <option value="">请选择大纲</option>
    </select>
</div>
<div class="form-horizontal dagangInputForm">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt="" width="64" height="64"/>
        <p>数据加载中，请耐心等待……</p>
    </div>
    <div ng-repeat="zsd in knowledgePr" class="media dagangBox dgLevel_0">
        <div class="media-body">
            <div class="media-heading">
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" ng-model="zsd.ZHISHIDIANMINGCHENG">
                    <span class="input-group-btn">
                         <button class="btn btn-default dgAddBtn" ng-click="addNd($event, zsd)" type="button">
                             <span class="glyphicon glyphicon-plus"> </span>
                         </button>
                    </span>
                </div>
            </div>
            <!-- 二级 -->
            <div ng-repeat="nd2 in zsd.ZIJIEDIAN" class="media dgLevel_1">
                <a class="media-object pull-left"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" ng-model="nd2.ZHISHIDIANMINGCHENG">
                            <span class="input-group-btn">
                                 <button class="btn btn-default dgDeleteBtn" ng-click="removeNd(zsd, nd2, $index)"
                                         type="button">
                                     <span class="glyphicon glyphicon-trash"> </span>
                                 </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
