<table class="tj-table">
    <tr>
        <th>试卷名称</th>
        <th  width="120px" class="text-center">试卷使用次数</th>
        <th width="120px" class="text-center">完成试卷人数</th>
        <th width="120px" class="text-center">最后使用时间</th>
    </tr>
    <tr ng-repeat="sj in tjKaoShiList">
        <td>
            <a href="javascript:void(0)" ng-click="tjShowStudentInfo(sj.SHIJUAN_ID, 'sjId', 'sjList', sj.SHIJUAN_MINGCHENG)"
               ng-bind="sj.SHIJUAN_MINGCHENG"></a>
        </td>
        <td class="text-center" ng-bind="sj.SYCS"></td>
        <td class="text-center" ng-bind="sj.KSRS"></td>
        <td class="text-center" ng-bind="sj.LAST_TIME | myLocalDate | date : 'yyyy-MM-dd'"></td>
    </tr>
</table>
<div class="paging text-right">
    <ul class="pagination pagination-sm" ng-hide="!tjKaoShiList">
        <li ng-class="{disabled: currentPage == 1}">
            <a href ng-click="tjPaging(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentPage == 1}">
            <a href
               ng-click="tjPaging(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
                上一页
            </a>
        </li>
        <li ng-repeat="pg in tjPages" ng-class="{active: currentPage == pg}">
            <a href ng-click="tjPaging(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentPage == lastPageNum}">
            <a href
               ng-click="tjPaging(nextPg = currentPage < lastPageNum ? currentPage + 1 : lastPageNum)">
                下一页
            </a>
        </li>
        <li ng-class="{disabled: currentPage == lastPageNum}">
            <a href  ng-click="tjPaging(lastPageNum)">尾页</a>
        </li>
    </ul>
</div>
