<div class="row tj-ks-title fixed-top">
  <span>成绩重置</span>
  <button class="btn btn-danger pull-right" ng-click="showKaoShengTjList()">返回统计</button>
  <button type="button" class="btn btn-danger pull-right mr10" ng-click="closeZuoDaReappear()" ng-hide="showKaoShengList">
    返回列表
  </button>
  <label class="pull-right mt5 mr10 fz16" ng-hide="showKaoShengList">
    <input type="checkbox" ng-model="checkboxModel"> 只看失分题目
  </label>
</div>
<div class="tab-content">
  <div class="kaoShengScoreList animate-show wp80" ng-show="showKaoShengList">
    <div ng-if="studentData">
      <div>
        <button class="btn btn-primary" ng-click="exportKsInfo()">导出考生信息</button>
      </div>
      <table class="tj-table tj-table-detail">
        <tr>
          <th ng-click="ksSortDataFun('stuId')">学号</th>
          <th ng-click="ksSortDataFun('name')">姓名</th>
          <th ng-click="ksSortDataFun('class')">班级</th>
          <th ng-click="ksSortDataFun('score')">成绩</th>
        </tr>
        <tr ng-repeat="ksd in studentData">
          <td ng-bind="ksd.YONGHUHAO">
          </td>
          <td>
            <a href="javascript:void(0)" ng-if="tjParas.zdcxKaoShiId" ng-bind="ksd.XINGMING"></a>
            <span ng-if="!tjParas.zdcxKaoShiId" ng-bind="ksd.XINGMING"></span>
          </td>
          <td ng-bind="ksd.BANJI">
          </td>
          <td ng-bind="ksd.ZUIHOU_PINGFEN">
          </td>
        </tr>
      </table>
    </div>
    <div ng-if="tjKaoShiData">
      <ul>
        <li ng-repeat="ks in tjKaoShiData">
          <span ng-bind="ks.KAOSHI_MINGCHENG"></span>
          <a href="javascript:void(0)" ng-click="resetThisKaoShi(ks.KAOSHENG_UID, ks.KAOSHI_ID)"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
